.header{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px ;
    /* margin-right: 50px; */
}
.text{
    margin-left: 10px;
}
.button{
    padding: 8px;
     margin-right: 120px; 
}


.banner{
/* border: 2px solid red;  */
display: grid;
place-items: center;
padding-top: 15px;
width: 998px;
height: 500px;
margin: 0 auto;
background-image: url('../assets/Hero-bg.png');
   
    
}
.banner-title{
    font-size: 50px;
    text-align: center;
}
.banner-content{
    text-align: center;
} 
.btn-primary{
    background-color:#0D1321 ;

    color:#FFFFFF ;
    padding: 12px;
    border-radius: 8px;
}
/* why web development?? */
.banner-text-container{
/* margin-top: 20px; */
 width: 900px; 
 /* height: 1393px;  */
 border-radius: 16px; 
/* border: 2px solid red; */
margin: 0 auto;
}
.text2 {
     text-align:center; 
    /* display: grid; */
    /* place-items:center; */
    /* margin-left: 100px; */
     padding-top: 40px;
     margin: 0 auto; 
}
.banner-text-description{
    text-align: center;
}
.banner-container{
  height: 900px; 
   /* border: 2px solid red;  */
   
   /* display: flex; */
   border: 10px solid white;
   border-radius: 10px;


}
.banner-container-one{
    display: flex;
     /* align-items: center;  */
    /* justify-content: space-between; */
      margin: 0 auto;   
    /* margin-left: 40px; */
    /* margin-right: 40px; */
    width: 800px;
    height: 250px;
    background-color: #FFFFFF;
    padding: 20px;
     border-radius: 20px;
      box-shadow:rgb(245, 245, 245)
    /* border: 2px solid white; */
    
}

.banner-container-text{
    width: 50%;
    /* border: 2px solid yellowgreen; */
    height: 250px;
    color: #373A50 ;
    

}

.banner-container-image{
    width: 50%;
    /* border: 2px solid green; */
    height: 250px;
  
}
.banner-container-two{
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: 250px;
    background-color: #FFFFFF;
    padding: 20px;
     border-radius: 20px;
}
.banner-container-text2{
    width: 50%;
    /* border: 2px solid yellowgreen; */
    height: 250px;
    color: #373A50 ;
}
.banner-container-image2{
    width: 50%;
    /* border: 2px solid green; */
    height: 250px;
}
.banner-container-three{
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: 250px;
    background-color: #FFFFFF;
    padding: 20px;
     border-radius: 20px;
}
.banner-container-text3{
    width: 50%;
    /* border: 2px solid yellowgreen; */
    height: 250px;
    color: #373A50 ;
}
.banner-container-image3{
    width: 50%;
    /* border: 2px solid green; */
    height: 250px;
}
/* youtube-inspiration-container */
.inspiration-container{
    text-align: center;
    /* margin: 0 auto; */
}
.inspiration-video{
    text-align: center;
    padding: 40px 20px;
    border: 1px solid #373A50;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 10px;

}
.skill-containes{
    display: flex;
    gap: 24px;
    margin-top: 100px;
    margin-left:20%;
    margin-right: 20%;  
}
.current-target-text{
    text-align: center;
    margin-top: 80px;

}
.skill-containes{
    max-width: 900px;
    margin: 0 auto;
}
.skill-html{ 
    padding: 30px;
    /* box-shadow: 0px 6px 50px 0px black ; */
    border-radius:5px ;
    background-color: #1ec3ff4f;
    border: ;
}
.skill-css{ 
    padding: 30px;
    /* box-shadow: 0px 6px 50px 0px black ; */
    border-radius:5px ;
    background-color: #0083e8d1;
    border: ;
}
.skill-js{ 
    padding: 30px;
    /* box-shadow: 0px 6px 50px 0px black ; */
    border-radius:5px ;
    background-color: #c8ff0077 ;
    border: ;
}
.skill-containes-two{
    /* display: flex; */
    gap:30px;

}
.next-target-text{
    text-align: center;
    margin-top: 80px
}

.skill-containes-two{
    display: flex;
    
    flex-direction: column;
    gap: 20px;
    border: 1px solid #373A50;
    border-radius: 10px;
    padding: 20px;
   

}
.skill{
    display: flex;
    gap: 20px;
    border: 1px solid #373A50;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
}
.skill-1{
    display: flex;
    gap: 20px;
    border: 1px solid #373A50;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin-top: 16px;
}
.skill-2{
    display: flex;
    gap: 20px;
    border: 1px solid #373A50;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin-top: 16px;
}
.next-target{
    max-width: 1000px;
    margin: 0 auto;
}
.support{
align-items: center;
    text-align: center;
    background-image: url('../assets/handshake.jpg') ;
    width: 1140px;
     height: 100px;
     
    padding-top: 300px;
    padding-bottom: 200px;
     margin-top:50px ; 
     margin-left: 120px; 
     margin-right: 0px;
     border-radius: 10px;
     margin-bottom: 20px;
    
}
.support-container{
    color: white;
}
.suggest-me{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    color: #FFFFFF;
    border: 2px solid white;
}
.submit{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid white;
    
    margin: 0 auto;
     
}
.support{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 50px;
    
}
.logo{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 130px;
    margin-right: 130px;
    

}

