.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-right: 50px;
}
.button{
    padding: 8px;
}

.banner{
/* border: 2px solid red;  */
display: grid;
place-items: center;
padding-top: 15px;
width: 998px;
height: 500px;
margin: 0 auto;
background-image: url('../assets/Hero-bg.png');
   
    
}
.banner-title{
    font-size: 50px;
    text-align: center;
}
.banner-content{
    text-align: center;
} 
.btn-primary{
    background-color:#0D1321 ;

    color:#FFFFFF ;
    padding: 12px;
    border-radius: 8px;
}
/* why web development?? */
.banner-section-container{
/* margin-top: 20px; */
/* width: 1140px; */
/* height: 1393; */
/* border-radius: 16px; */
mmargin:2px solid red
}